
<link rel="stylesheet" href="/navbar.css">
<header>
  <h1>CleanCity</h1>
  <% if (locals.user) { %>
  <nav>
      <a href="/collector/profile">Profile</a>
      <a href="/collector/task">Tasks</a>
      <a href="/collector/logout">Logout</a>
  </nav>
  <% } else { %>
  <nav>
      <a href="/">Home</a>
      <a href="/signin">Signin</a>
      <a href="/signup">Signup</a>
  </nav>
  <% } %>
</header>