<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="/style.css">
<header>
  <h1>CleanCity</h1>
  <% if (locals.user) { %>
      <nav>
          <a href="/admin">Home</a>
          <a href="/admin/collector">Collectors</a>
          <a href="/admin/create">Create</a>
          <a href="/admin/user">Users</a>
          <a href="/admin/complain">Complains</a>
          <a href="/admin/task">Tasks</a>
          <a href="/admin/drives">Drives</a>
          <a href="/admin/logout">Logout</a>
      </nav>
  <% } else { %>
      <nav>
          <a href="/">Home</a>
          <a href="/signin">Signin</a>
          <a href="/signup">Signup</a>
      </nav>
  <% } %>
</header>